services:
  nextjs:
    build: .
    container_name: nextjs
    volumes:
      - ./:/app
      - /app/node_modules
    env_file: .env
    ports:
      - "3000:3000"
    environment:
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
      - PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
